.card-wrappers {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Ajouter un espacement vertical entre les cartes */
  justify-content: center; /* Pour aligner les cartes horizontalement */
  margin-bottom: 20px;
}

.card-column {
  flex: 1; /* Pour permettre aux cartes de s'adapter à la taille de l'écran */
  padding: 0 10px; /* Ajoute un espacement horizontal entre les colonnes */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale des colonnes */
}


.cards {
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  padding: 10px;
  margin-top: 15px;
  width: 270px; /* Utilisation d'une largeur relative */
  margin-left: auto; /* Aligne la carte au centre */
  margin-right: auto; /* Aligne la carte au centre */
}


.cards-images {
  width: 270px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center; /* Pour aligner l'image au centre */
  margin-left: 0px;
}

.cards-titles {
  color: #000;
  text-align: center;
  letter-spacing: 1.5px;
  font: 15px Inter, sans-serif;
  margin-top: 15px;
  height: 20px;
}

.card-button {
  border-radius: 10px;
  backdrop-filter: blur(2px);
  background-color: #279609;
  align-self: center;
  margin-top: 20px;
  color: #f5f5f5;
  white-space: nowrap;
  justify-content: center;
  padding: 9px 14px;
  font: 14px Inter, sans-serif;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card-column {
    width: 100%; /* Prend toute la largeur sur les écrans de petite taille */
    margin-bottom: 20px; /* Ajouter un espacement vertical entre les cartes */
    margin-left: 0px;
    align-items: center;
  }
  .card-image{
    width: auto;
    margin-left: -1px;
  }
  .card-wrappers{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
